.place__title {
  max-width: 460px;
  margin: 0;
  padding: 0;
  font-size: 72px;
  font-weight: 900;
  line-height: 106%;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .place__title {
    max-width: 440px;
  }
}

@media screen and (max-width: 1000px) {
  .place__title {
    font-size: calc(32px + (40 + 40 * 0.7) * ((100vw - 320px) / 1280));
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    max-width: 330px;
    font-size: 42px;
    line-height: 110%;
  }
}

@media screen and (max-width: 709px) {
  .place__title {
    margin-left: 16px;
  }
}

@media screen and (max-width: 425px) {
  .place__title {
    font-size: 32px;
    line-height: 109%;
  }
}
