.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, max-content));
  max-width: 1184px;
  margin: 92px 48px 0;
  grid-gap: 16px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 928px;
    grid-gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: 720px;
    grid-gap: 16px;
    margin: 88px 24px 0;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    grid-gap: 12px;
    margin: 64px 16px 0;
  }
}


@media screen and (max-width: 320px) {
  .photo-grid {
    grid-gap: 12px;
    margin: 64px 16px 0;
  }
}
