.places {
  display: flex;
  flex-direction: column;
  gap: 80px 0;
  max-width: 984px;
  padding: 0;
  margin: 92px auto 0;
}

@media screen and (max-width: 1024px) {
  .places {
    margin: 92px 48px 0;
  }
}

@media screen and (max-width: 768px) {
  .places {
    gap: 75px 0;
    padding: 0;
    margin: 88px 24px;
  }
}
@media screen and (max-width: 709px) {
  .places {
  justify-content: center;
  align-items: center;
  }
}

@media screen and (max-width: 425px) {
  .places {
    margin: 64px 0 0;
    gap: 62px 0;
  }
}
