.footer__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 113%;
  text-decoration: none;
  transition: opacity 0.3s ease;
  color: #fff;
}

.footer__link:hover {
  opacity: 0.5;
}

@media screen and (max-width: 700px) {
  .footer__link {
    font-size: 24px;
    line-height: 100%;
  }
}
