.intro__text {
  max-width: 690px;
  margin: 0 0 33px;
  font-size: 16px;
  font-weight: 400;
  line-height: 163%;
}

@media screen and (max-width: 425px) {
  .intro__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 110%;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    font-weight: 900;
    line-height: 109%;
  }
}
