.cover {
  margin: 92px 48px 0;
}

@media only screen and (max-width: 1024px) {
  .cover {
    margin: 92px 0 0;
  }
}

@media only screen and (max-width: 768px) {
  .cover {
    margin: 88px 0 0;
  }
}

@media only screen and (max-width: 507px) {
  .cover {
    margin: 85px 0 0;
  }
}

@media only screen and (max-width: 425px) {
  .cover {
    margin: 82px 0 0;
  }
}

@media only screen and (max-width: 320px) {
  .cover {
    margin: 66px 0 0;
  }
}
