.cover__overlay {
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #2a2c2f;
  background-position: center;
  background-size: cover;
  transition: opacity 0.3s linear;
  opacity: 0.3;
}

.cover__overlay:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 510px) {
  .cover__overlay {
    min-height: 320px;
  }
}

@media screen and (max-width: 425px) {
  .cover__overlay {
    min-height: 265px;
  }
}

@media screen and (max-width: 375px) {
  .cover__overlay {
    min-height: 234px;
  }
}

@media screen and (max-width: 320px) {
  .cover__overlay {
    min-height: 200px;
  }
}
