.lead__caption {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  margin: 6px 0 0;
  padding: 0;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    margin-left: 16px;
  }
}
