.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1184px;
  padding: 92px 0 24px;
  gap: 0 18px;
  margin: 0 48px 0;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    padding: 88px 0 24px;
    margin: 0 auto 24px;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 64px;
    gap: 48px;
  }
}

@media screen and (max-width: 630px) {
  .footer {
    padding: 64px 0 24px;
    margin: 0 16px 0;
  }
}
