.place__url-heading {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2px;
  color: #aaa;
  padding-bottom: 12px;
}

@media screen and (max-width: 709px) {
  .place__url-heading {
    margin-left: 16px;
  }
}
